.WeatherForecast {
  text-align: center;
  margin: 20px;
  margin-left: 0px;
  margin-right: 0px;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 6px;
}

.ForecastIcon {
  height: 64px;
}
